.prog-av {
    background: black;
    color: white;

}

.prog-av-container {
    background: white;
    color: black;
    margin: 0px 15px 10px 15px;
    border-bottom: 5px solid white; 

}

.prog-av-name {
    background: white;
    font-weight: bold;
    color: black;
    padding: 10px;
}