body {
  /*margin: 0;
  padding: 0;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: gray;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
 
/* N A V I G A T I O N B A R */

.navbar {
  background-color:#242424;
  font-weight: bold;
}

.navbarTitle {
  color:gainsboro;
  font-size:30px;

}

.navbarSave {
  color:gainsboro;
  font-size:20px;
  margin-top: -20px;
}

.navbarSave:hover {
  color:gray;
  font-size:20px;
  margin-top: -20px;
}

/* S E A R C H F U N C T I O N */


.pg-search {
  float: left;
  width: 11%;
  text-decoration: none;
  margin-top:17px;
  border-right-style: solid;
  border-right-color: white;
  border-right-width: 0.5px;
  height:850px;

}

.pg-search h2 {
  font-size:18px;
  padding-bottom:2px;
}


.pg-search input[type=text]{
  padding: 5px;
  width:90%; 
  border-radius: 5px;
  border-style:solid;
  border-width:1px;
  border-color:gray;
}


.pg-search-list {
  list-style-type: none;
  padding: 10px;
  cursor:pointer;
}

.pg-search-list li:hover {
  list-style-type: none;
  color:lightgray;
  padding: 10px;
  transition: .3s ease-out;

}

/* T A B L E D I V - S T A N D A R D */
.tableDiv{
  width:95%;
  padding-top:3%;
  padding-left:5%;
}

