body {
    background: black;
}

.prog-at {
    color: white;
    margin: 25px 15px;
    white-space: nowrap;


}

.prog-av {
    background:#3d3d3d;
    color: white;
    float: left;
    width: 89%;    
}

.prog-av-container {
    background: white;
    color: black;
    margin: 15px 15px 35px 15px;
    border-bottom: 4px solid white;
}

.prog-av-total {
    background: white;
    color: black;
    margin: 0px 15px 35px 15px;
    border-bottom: 4px solid white;    
}


.prog-av-name {
    background: white;
    font-weight: bold;
    color: black;
    padding: 10px;
}

.prog-av-user {
    font-size: 24px;
    margin: 0px 15px 10px 15px;
    border-bottom: 1px solid white;

}

.vis-item {
    color: white;
    background-color: rgba(175, 0, 0, 0.404);
    border: 1px solid darkred;
}

.vis-item:hover {
    font-weight: bold;
}

.vis-group {
    color: black;
    background-color: rgba(255, 255, 255, 0.4);
    border-color: black;
}

.vis-label .vis-inner {
    min-height: 50px;
}

.vis-inner {
    font-weight: bold;
}

.togglebtn{
    background-color:#232323;
    color: white;
    border:none;
    font-size:15px;
    padding: 10px;
    margin-left:1%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 4px 5px -5px rgb(31, 31, 31);
}

.togglebtn:hover{
    box-shadow: 0 7px 5px -5px rgb(31, 31, 31);
}

.updatebtn{
    background-color:#232323;
    color: white;
    border:none;
    font-size:15px;
    padding: 10px;
    margin-left:0.5%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 4px 5px -5px rgb(31, 31, 31);

}

.updatebtn:hover{
    box-shadow: 0 7px 5px -5px rgb(31, 31, 31);
}


/*
I have solved it using minHeight on this element in vis.css .vis-label .vis-inner
*/